/*---[Import Catppuccin Colors]---*/

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;


/*---[Accent Color]---*/

@define-color accent @lavender;


/*---[General]---*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FantasqueSansMono Nerd Font;
    font-size: 14px;
    border: none;
    border-radius: 0px;
}

window#waybar { 
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-center {
    background-color: @accent;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    border-radius: 0px 0px 1.5rem 1.5rem;
}

window#waybar.empty .modules-center {
    background-color: transparent;
}

/*---[Workspaces]---*/

#workspaces {
    background: @base;
    border-radius: 0px 1rem 1rem 0px;
    padding-right: 0.5rem;
    margin: 5px 0px; 
    color: @subtext1;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 1rem;
    border: 0px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @base;
    background: @accent;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @subtext1;
    background: @surface1;
    border-radius: 15px;
}


/*---[Window]---*/

#window {
    background: @base;
    padding: 0px 15px 0px 15px;
    border-radius: 0px 0px 1.3rem 1.5rem;
    font-style: normal;
    color: @subtext1;
    transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
    background: transparent;
}

.modules-center.empty {
    background: transparent;
}


/*---[Custom Media]---*/

#custom-media {
    background-color: @accent;
    border-radius: 0px 0px 1.5rem 1.5rem;
    color: @base;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @accent;
    color: @base;
}

#custom-media.custom-vlc {
    background-color: @accent; 
    color: @base;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#network,
#power-profiles-daemon {
    background-color: @base;
    color: @subtext1;
    padding: 0rem 1rem; 
    margin: 5px 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/*---[Pulseaudio]---*/

#pulseaudio {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}


/*---[Network]---*/

#network.disconnected {
    color: @red;
}


/*---[Power Profiles]---*/

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @subtext1;
}

#power-profiles-daemon.power-saver {
    color: @green;
}


/*---[System]---*/

#cpu {
    padding-left: 1rem;
}

#memory {
    padding: 0rem;
}

#temperature {
    padding-right: 1rem;
}

#temperature.critical {
    background-color: @red;
}


/*---[Backlight]---*/

#backlight {}


/*---[Battery]---*/

#battery {}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @orange;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/*---[Clock]---*/

#clock {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

/*---[Tray]---*/

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
